body{
  font-family: "Quicksand", sans-serif;
  background-image: url("../images/pidgeon-background.jpg");
  background-repeat: no-repeat;
  background-color: #dddddd;
}
h1{
  font-size: 2em;
  line-height: 1.5;
  color: #c12258;
}
p{
  color: black;
  font-size: 18px;
  padding-top: 15px;
}
a{
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}
*:focus{
  border: 1px solid red;
}
table{
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 10px;
}
.colhead{
  width: 150px;
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #c12258;
  border-top: 2px solid black; */
  border-bottom: 2px solid black;
}
tbody tr td{
  text-align: center;
  border-bottom: 2px solid black;
}
.rowhead{
  text-align: center;
  border-bottom: 2px solid black;
}
tr:nth-child(even){
  background-color: #dddddd;
}
tr:nth-child(odd){
  background-color: transparent;
}
tr:hover{
  background-color: #fab9cf;
}
table tr:first-child th:first-child{
  border-top-left-radius: 10px;
}
table tr:first-child th:last-child{
  border-top-right-radius: 10px;
}
tbody tr:last-child th:first-child{
  border-bottom-left-radius: 10px;
}
tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}
footer p{
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 60px;
}
